* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#flex-container {
  width: 320px;
  height: 320px;
  display: flex;
  border: 1px solid black;
  flex-wrap: wrap;
  /* padding: 2px; */
}
.flex-item {
  margin: 5px;
  justify-content: center;
  border: 1px solid black;
  width: 100px;
  height: 100px;
}
