/* Add CSS Styling */
.both-element {
  font-family: Helvetica, "Times New Roman", sans-serif;
  font-size: 28px;
}

.first-element {
  background-color: #000;
  color: #fff;
}

.second-element {
  background-color: #ffff00;
}
